@charset "UTF-8";

body {
    background-color: white;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    max-width: 1150px;
}
h1 {
    color: black;
}
h2 {
    margin-top: 30px;
}